# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE 配置文件
.vscode/
.idea/
*.swp

# 本地隐私配置 (绝对不要上传)
config.json

# 打包产物
build/
dist/
*.spec

# 浏览器驱动日志
*.log
geckodriver.log
msedgedriver.log
webdriver.log

# 虚拟环境
venv/
env/
.env